.aboutpage-container {
    display: block;
    margin: auto;
    width: 60%;
}

.aboutpage-entire-container {
    background-color: #FAFAFA;
    height: 260vh;
}

.founder {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 20%;
}

.aboutpage-left {
    width: 70%;
}

.aboutpage-right {
    position: relative;
    z-index: 0;
    top: -690px;
    left: 350px;
    width: 60%;
    padding: 20px;
    background-color: white;
    opacity: 0.8;
}

.map-container {
    display: block;
    margin: auto;
    width: 70%;
    margin-bottom: 5%;
}

.about-profile-image {
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .aboutpage-container {
        width: 80%;
    }

    .map-container {
        width: 100%;
    }

    .aboutpage-left {
        display: block;
        margin: auto;
        width: 100%;
    }

    .aboutpage-right {
        display: block;
        margin: auto;
        width: 100%;
        opacity: 1;
        left: 0;
        bottom: 0;
        background-color: #FAFAFA;
    }

    .founder {
        padding-bottom: 10px;
        clear: both;
    }

    .about-profile-image {
        width: 100%;
    }

    .aboutpage-entire-container {
        height: 420vh;
    }
}