.brows-header {
    width: 100%;
    height: 60vh;
    background-image: url('../Media/Brows/header-image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.brows-container {
    display: block;
    width: 100%;
    margin: auto;
    padding: 0;
}

.brows-products {
    display: block;
    margin: auto;
    width: 100%;
    height: 70vh;
    padding-top: 60px;
    margin-bottom: 20px;
}

.brows-products-grey {
    display: block;
    margin: auto;
    width: 100%;
    height: 80vh;
    background-color: #FAFAFA;
    padding-top: 50px;
}

.brows-subblock {
    display: block;
    margin: auto;
    width: 70%;
}

.brows-desc {
    background-color: #FAFAFA;
    width: 100%;
}

.brows-pricing {
    margin: auto;
    width: 60%;
    margin-top: 5%;
}

.brows-pricing td {
    padding: 5px;
}

.brows-pricing th {
    padding-right: 50px;
}

.coming-soon {
    font-size: 40px;
    text-align: center;
    color: #AE3B15;
    font-weight: bolder;
}

.inner-div {
    padding-top: 10%;
}

.brows-booking {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    padding-bottom: 10%;
    background-color: #FAFAFA;
}



@media only screen and (max-width: 1000px) {
    .brows-products {
        height: 1000px;
        margin-bottom: 0;
    }

    .brows-products-grey {
        height: 1000px;
        margin-bottom: 0;
    }

    .brows-booking {
        top: -700px;
    }

    .brows-pricing {
        margin: auto;
        width: 100%;
        margin-top: 5%;
    }
    
    .brows-pricing td {
        padding-left: 20px;
    }
    
    .brows-pricing th {
        padding-right: 5px;
        padding-left: 5px;
    }
}