.brows-header {
    width: 100%;
    height: 60vh;
    background-image: url('../Media/Brows/header-image.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.brows-container {
    display: block;
    width: 70%;
    margin: auto;
    padding: 0;
}

.brows-products {
    display: block;
    margin: auto;
    width: 100%;
    height: 60vh;
    margin-bottom: 10%;
}

.brows-desc {
    margin-bottom: 50px;
}

.brows-pricing {
    margin: auto;
    width: 60%;
    margin-top: 5%;
}

.brows-pricing td {
    padding: 5px;
}

.brows-pricing th {
    padding-right: 50px;
}

.coming-soon {
    font-size: 40px;
    text-align: center;
    color: #AE3B15;
    font-weight: bolder;
}

.inner-div {
    padding-top: 10%;
}

@media only screen and (max-width: 1000px) {
    .brows-products {
        height: 900px;
        margin-bottom: 0;
    }

    th {
        padding-right: 0;
    }
}