.faq-container {
    display: block;
    margin: auto;
    width: 70%;
    margin-top: 88px;
}

.faq-title {
    display: block;
    margin: auto;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding-top: 75px;
}

.faq-subtitle {
    font-size: 24px;
    font-weight: bold;
}

.faq-section {
    padding: 10px;
    color: #676767;
}

.faq-desc {
    padding: 10px;
}

.faq-desc li {
    list-style-type: disc;
    list-style-position: inside;
    padding: 10px 0 0px 30px;
    text-indent: -1.4em;

}