
.app-bar {
    top: 0;
    left: 0;
    height: 88px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    background-color: #FFF;
    position: fixed;
    z-index: 99;
    box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.app-logo {
    font-size: 20px;
}

.app-bar figure {
    margin-inline-start: 10vw;
    margin-bottom: 0;
}

.enter {
    font-size: 24px;
    display:inline-block;
    padding:0.3em 1.5em;
    border:2px solid #fff;
    margin:0 5px 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight:bold;
    color:white;
    text-align:center;
    transition: all 0.3s;
    white-space: nowrap;
    cursor: pointer;
}

.enter:hover {
    background-color: #FFF;
    color: #000;
    text-decoration: none;
} 

.header-image {
    display: block;
    margin: auto;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;

}

.header-video {
 
    position: absolute; 
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: 0;
    background-size: cover;
    overflow-x: hidden;
    right: 0;
    bottom: 0; 

}


@media only screen and (max-width: 1000px) {
    .header-image {
        display: none;
    }

    .header-video {

    }
}