.sidebar {
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #FFF;
    width: 60%;
    z-index: 100;
    position: fixed;
    box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5);
    transform: translateX(-110%);
    transition: transform 0.3s ease-out;
    padding-top: 10%;
}

.sidebar.show {
    transform: translateX(0);
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;
    text-align: center;
}

.sidebar ul li {
    font-size: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border-bottom: 1px solid white;

}

.sidebar ul li a:hover {
    color: #AE3B15;
    border-bottom: 1px solid #AE3B15;
}

.sidebar-btn-container {
    display: block;
    margin: auto;
    width: 80%;
}

.sidebar-book-btn {
    display: block;
    margin: auto;
    border: none;
    color: white;
    padding: 10px 5px;
    background-color: #C47C4F;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        height: 100%;
        width: 40%;
    }
}

@media only screen and (max-width: 800px) {
    .sidebar {
        height: 100%;
        width: 60%;
    }
}